// style.scss

@import 'reset';

$font-stack: Helvetica, sans-serif;

$gradient-box: linear-gradient(#efefef, #cc0000);
$gradient-masthead: linear-gradient(white, aliceblue);
$gradient-nav: linear-gradient(aliceblue, white);
$gradient-nav-hover: linear-gradient(aliceblue, #efefef);
$background-color: aliceblue;
$full-width: 960px;
$link-color: #cc0000;
$primary-color: black;
$secondary-color: grey;

@mixin transform($property) {
	-webkit-transform: $property;
	-ms-transform: $property;
	transform: $property;
}

body {
	font: 100% $font-stack;
	color: $primary-color;
}

// Example of simple math capabilities with SASS. Width will be calculated as a percentage in the CSS.
article[role="main"] {
	display: inline-block;
	margin: 0;
	padding: 6px 12px;
	float: left;
	width: 600px / 960px * 100%;
	border: 1px solid $primary-color;
}

aside[role="complementary"] {
	display: inline-block;
	margin: 0;
	padding: 6px 12px;
	float: right;
	width: 300px / 960px * 100%;
	border: 1px dashed $secondary-color;
}

.container {
	margin: 0 auto;
	padding: 0;
	width: $full-width;
}

.masthead {
	background: $gradient-masthead;
	margin: 0 auto;
	padding: 5px 10px;
	height: 90px;
	width: $full-width;
}

.nav {
	height: 60px;

	ul {
		margin: 0;
		padding: 0;
		width: $full-width;
		list-style: none;
	}

	li {
		display: inline-block;

		a {
			background: $gradient-nav;
			display: block;
			padding: 6px 12px;
			height: 18px;
			text-decoration: none;
			color: $link-color;
		}

		a:hover {
			background: $gradient-nav-hover;
			border-bottom: 2px solid $link-color;
		}
	}
}

.box {
	@include transform(rotate(45deg));

	background: $gradient-box;
	display: block;
	margin: 0 auto;
	padding: 0;
	height: 64px;
	width: 64px;
	border: 1px solid $link-color;
}

// This example will not print out to the CSS file b/c it will never be 'extended'
%equal-height {
	display: flex;
	flex-wrap: wrap;
}

// This example will print to the CSS file as it will be 'extended' repeatedly
%message-shared {
	border: 1px solid #ccc;
	padding: 10px;
	color: #333;
}

.message {
	@extend %message-shared;
}

.success {
	@extend %message-shared;
	border-color: green;
}

.error {
	@extend %message-shared;
	border-color: red;
}

.warning {
	@extend %message-shared;
	border-color: yellow;
}
