// style.scss

@import 'reset';

$font-stack: Helvetica, sans-serif;
$primary-color: black;
$background-color: aliceblue;

body {
	font: 100% $font-stack;
	color: $primary-color;
}

.gulp-1 {
	height: 120px;
	width: 700px;
	background-color: $background-color;
	margin: 0 auto;
	padding: 5px 10px;
}

nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
	}

	a {
		display: block;
		padding: 6px 12px;
		text-decoration: none;
	}
}
