// style.scss

@import 'reset';

$font-stack: Helvetica, sans-serif;

$gradient-masthead: linear-gradient(white, aliceblue);
$gradient-nav: linear-gradient(aliceblue, white);
$gradient-nav-hover: linear-gradient(aliceblue, #efefef);
$background-color: aliceblue;
$full-width: 960px;
$link-color: #CC0000;
$primary-color: black;

body {
	font: 100% $font-stack;
	color: $primary-color;
}

.content-1 {
	background: $gradient-masthead;
	margin: 0 auto;
	padding: 5px 10px;
	height: 90px;
	width: $full-width;
}

.nav {
	ul {
		margin: 0 auto;
		padding: 0;
		width: $full-width;
		list-style: none;
	}

	li {
		display: inline-block;

		a {
			background: $gradient-nav;
			display: block;
			padding: 6px 12px;
			height: 18px;
			text-decoration: none;
			color: $link-color;
		}

		a:hover {
			background: $gradient-nav-hover;
			border-bottom: 2px solid $link-color;
		}
	}
}
